html, body, .full {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Poppins, Nunito, serif;
}

.full {
    position: relative;
}
header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;

}
/* NavBar Section */

.navbar {
    display: flex;
    justify-content: space-around;
    

}
.navbar ul {
    display: flex;
}
.navbar li {
  margin: 0 10px;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.logo div  h1{
 margin-top: 0;
 margin-bottom: 0;
}

/* Banner section */


.banner .banner-text{
    padding-left: 50px;
    display: flex;
    position: relative;
    z-index: 100;
}
.circular {
    height: 1200px;
    width: 1200px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #6fb14b;
    border-radius: 50%;
    z-index: 0;
    transform: translate(60px, -50%) rotate(-45deg);
    
}
.banner-text div {
    margin-top: 0px;
    max-width: 430px;
}

.banner-text h1 {
    font-weight: 900;
    font-size: 40px;
    color: #6cb840;
    margin-bottom: 0px;
}

.banner-text h1>span {
    color: #535048;
}

.banner-text h3 {
    font-size: 35px;
    color: #404040;
    margin-top: 16px;
    margin-bottom: 16px;
}

.banner-text p {
    line-height: 33px;
    margin-bottom: 8px;
    font-size: 19px;
}
button.btn {
    margin-top: 60px;
}

button.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #64aa3c;
}

.menu-container {
    width: 500px;
    height: 500px;
    border:  3px dashed black ;
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: absolute;
    transform: translate(40%, 800px) translate(-55%, -25%) rotate(5deg);
    border-radius: 50%;
}
.menu-container .image {
    width: 100px;
    height: 100px;
    margin: -50px;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
}

.menu-container #one {
    transform: rotate(-45deg) translate(15em);
}
.menu-container #two {
    transform: rotate(0deg) translate(15em);
}

.menu-container #three {
    transform: rotate(45deg) translate(15em);
}

.menu-container #four {
    transform: rotate(-90deg) translate(15em);
}

.menu-container #five {
    transform: rotate(-135deg) translate(15em);
}

.burger {
    top: 60%;
    right: 800px;
    position: absolute;
    transform: translateX(50%) translateX(60%);
}



/* Info section */


.info-section {
    text-align: center;
    margin: auto;
    height: 600px;
    width: 55%;
}
.row-1 {
    display: flex;
    justify-content: space-around;
   
    
}
.row-1 #text{
    margin: auto 10px;
}
.row-1 h2{
    color: #EAAB1B;
    font-size: 30px;
}


/* Menu section */


.menu-section {
    min-height: 400px;
    text-align: center;
    width: 80%;
    background-color: rgb(200, 192, 192); 
    margin: auto;
    padding: 20px 0;
}

.section-title {
    font-size: 30px;
}
.section-title span {
    color: #6fb14b;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu-item {
    display: flex;
    height: 100px;
    width: 300px;
    margin: 10px;
    
}
.menu-info {
    background-color: azure;
}
.menu-info h2 {
font-size: 15px;
}
.menu-info p {
    font-size: 10px;
    }


/* Hot Deals Section */

.deal-section {
    min-height: 600px;
    text-align: center;
    width: 80%;
    background-color: #C9ECB5;
    margin: auto;
    padding: 20px 0;
    
}

.hot-deals {
    display: flex;
    width: 70%;
    margin: auto;
  
    
}
.col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hot-deals h1{
    font-size: 36px;
    text-align: left;
    color: #6CB840;
    margin: 0%;
}
.col-1 h2 {
    text-align: left;
    margin: 0%;
}
.col-1 p {
    text-align: center;
    margin-right: 30px;
}

/* Contact Us Section */

.contact-section {
    min-height: 300px;
    text-align: center;
    width: 80%;
    background-color:  #FFD77C;
    margin: auto;
    padding: 20px 0;   
}
.contact {
    margin: auto;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contact input {
    height: 40px;
    width: 40%;
    margin: 20px 0;
    border:  #FFD77C;
    border-radius: 10px;
    padding-left: 10px;
}
.contact button {
    height: 40px;
    margin-top: 30px;
    width: 200px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: #6CB840;
    background-color: #6CB840;

}

.blank {
    height: 50px;
    width: 80%;
}

.footer-section {
    background-color: #C9ECB5;
    min-height: 250px;
    width: 80%;
    margin: auto;
}
.footer {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
}
.col-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#address {
    margin-left: 10px;
}
.line {
    height: 100px;
    border-left: 3px dashed #6CB840;
    margin: 0 10px;
   
}
#icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
#icons button{
    height: 30px;
    width: 100px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: #6CB840;
    background-color: #6CB840;

}
